// RESET GENERALE
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary_color;
  font-family: 'Roboto', sans-serif;
}

// general Btn
.btn{
  @include btn_general
}

.btn_container{
  @include display_flex;

  .btn{
    @include btn_general;
    @include btn_secondary;
  }
  span{
    align-self: center;
    padding: 0 4px
  }
}

.your_email{
  padding-top: 15px;

  i{
    padding-left: 5px;
  }
}




// Defaul List Style
ul li{
  list-style: none;
}

// active

.active{
  display: block;
}

.hidden{
  display: none;
}

@media all and (max-width: 992px){
  body{

    font-size: 1.6rem;
  }

}
