// RESET GENERALE
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $priamry_color;
  font-family: 'Roboto', sans-serif;
}

// general Btn
.btn{
  @include btn_general
}

// Defaul List Style
ul li{
  list-style: none;
}

// active

.active{
  display: block;
}

.hidden{
  display: none;
}
