// Primary Color
$primary_color: #58402c;

// Secondary color
$secondary_color: #fee7d1;
// Font bold
$font_bold: 700;

// Padding 15 px
$padding_15: 15px;

// Big title
$title_bigger: 70px;
// fix width
$fix_widht: 100%;

$text-blue: #2c4792;
